*{
    margin: 0;
    padding: 0;
    list-style:  none;
    vertical-align: baseline;
    }
p{
    margin: 2px;
    color: white;
    display: inline;
    padding: : 2px:
        }
p.php1{
    background-color: #A93226;
}
p.php2{
    background-color: #C0392B;
}
p.php2{
    background-color: #C0392B;
}
p.php3{
    background-color: #CD6155;
}
p.php4{
    background-color: #F1948A  ;
}
p.php5{
    background-color: #D98880
}
p.php6{
    background-color: #C39BD3  ;
}
p.php7{
    background-color: #2C3E50  ;
}
p.php8{
    background-color: #A3E4D7  ;
}
p.php9{
    background-color: #48C9B0  ;
}
p.php10{
    background-color: #17A589;
}

p.php11{
    background-color: #0E6655;
}
p.php12{
    background-color: #1E8449  ;
}
p.php13{
    background-color: #117864;
}
p.php14{
    background-color: #0B5345  ;
}
