*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 80%;
    margin-bottom: 100px;
   
}
.wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header,footer{
    height: 40px;
}

main{
    flex-grow: 1;
   }
.content{
    display: flex;
    border: 0;
    margin: 100px ;
    flex-direction: row;
    flex-wrap: wrap;
}
.content1{
    display: flex;
    border: 0;
    margin: 100px ;
    flex-direction: row;
    flex-wrap: wrap;
    border: ipx solid purple;
    justify-content: center;
    align-content: center;
}
.navigation{
    list-style: none;
    margin: 0;
    height: 30px;
    background: Aquamarine ;
    display: flex;
    flex-direction: row-reverse;
    border-left-width: 0;
}
navigation a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: Chartreuse ;
}
.navigation a:hover{
    background: rgba(80, 80, 35, .5);
}
.item{
    flex-grow: 1;
    margin: 10px;
    border-left-width: 0;
    border-bottom-style:none;
    }
header{
  background-color: #2ecc71;
}
footer{
   background-color: #006400;
    color: white;
}

